* {
    margin: 0;
    padding: 0;

}

.cabecalho {
    background-color: lightsteelblue;
}

.navegacao {
   background-color: rgba(255, 21, 204, 0.589);
}
.secao {
    background-color: aqua;
}