* {
    margin: 0;
    padding: 0;

}

.cabecalho {
    background-color: rgb(72, 152, 255);
    color:aquamarine;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacao {
   background-color: rgba(255, 21, 204, 0.589);
}
.secao {
    background-color: aqua;
}
.footer {
    background-color: aliceblue;
}